body {
  background-color: #000;
  color: white;
  font-family: "Lora", serif;
}

nav {
  background-color: #bbdefb;
  text-align: center;
  padding: 15px 0;
  margin-top: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 0 40px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
}

/* Linha invisível inicialmente */
nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #3c7791;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* Linha aparece no hover */
nav a:hover::after {
  width: 100%;
}

/* HOME */
.container-home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  gap: 150px;
  font-family: "Lora";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: -50px;
}

/* Lado esquerdo */
.left-section {
  width: 32%;
  margin-top: 110px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 270px;
  height: auto;
  margin-bottom: 30px;
  margin-left: 0
}

.left-section p {
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  line-height: 1.5;
  margin-top: -10px;
}

/* Lado direito */
.right-section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  flex-direction: column;
  margin-top: 50px;
  margin-right: -30px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 120px;
  justify-items: center;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-box {
  width: 250px;
  height: 250px;
  background-color: #bbdefb;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.service-box:hover {
  background-color: #65a9c1;
  transform: translateY(-12px);
  cursor: pointer;
}

.service-title {
  margin-top: 15px;
  font-size: 13px;
  width: 70%;
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
}

/* CONTATO */
.container {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 80px;
  width: 90%;
  margin: 0 auto;
  margin-top: 85px;
  align-items: start;
}

/* Lado Esquerdo */
.esquerdo {
  background-color: #bbdefb;
  color: #000;
  width: 495px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-left: auto;
}

.esquerdo img {
  width: 250px;
  height: auto;
  margin-top: 35px;
  margin-bottom: 10px;
}

.esquerdo h3 {
  margin-bottom: -1px;
  font-weight: 700;
}

/* Lado Direito */
.direito {
  color: #000;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título */
.direito h1.contato {
  font-size: 32px;
  color: #3c7791;
  text-align: center;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

/*INPUT*/
.form-control {
  position: relative;
  margin: 20px 0 35px;
  width: 290px;
}

.form-control.telefone {
  margin: -5px 0 35px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #3c7791 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  color: #3c7791;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #3c7791;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #3c7791;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: #3c7791;
  transform: translateY(-30px);
}

.linha-dupla {
  display: flex;
  gap: 20px;
  margin: auto 0 8px;
}

/*TEXTAREA*/
.button:active {
  scale: 0.95;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #3c7791;
  font-size: 18px;
}

.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #3c7791;
  font-family: "Lora", serif;
  background-color: transparent;
  border: 1px solid #3c7791;
}

.form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  color: #3c7791;
  width: 575px;
  height: 60px;
  border: 1px solid #3c7791;
  background-color: transparent;
  font-family: "Lora", serif;
}

.form-group input::placeholder {
  opacity: 0.5;
}

.form-group input:focus {
  outline: none;
  border-color: #3c7791;
}

.form-group textarea:focus {
  outline: none;
  border-color: #3c7791;
}

/* BOTÃO */
.form-submit-btn {
  margin-top: 4%;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 1em;
  display: inline-block;
  cursor: pointer;
  border-radius: 10em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  color: black;
  background-color: #3c7791;
}

.form-submit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-submit-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-submit-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.form-submit-btn::after {
  background-color: #bbdefb;
}

.form-submit-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.resultado {
  color: #cfe8ff;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 17px;
  margin-top: 3%;
}

.btn_cadastro {
  margin-top: 2%;
}

.btn_login {
  margin-top: 2%;
}


/* CADASTRO */
.page-cadastro {
  background: radial-gradient(circle at top, #0a0a0a, #000);
  font-family: "Lora", serif;
  color: #cfe8ff;
  padding-bottom: 80px;
}

/* CARD CADASTRO */
.page-cadastro .container-cadastro {
  margin-top: 80px;
  padding: 40px 60px;
  background: #0d0d0d;
  border: 1px solid #65a9c1;
  border-radius: 15px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px #65a9c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 5%;
}

/* TÍTULO */
.page-cadastro .h_cadastro {
  font-size: 32px;
  color: #3c7791;
  text-align: center;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

/* INPUTS */
.page-cadastro .form-control {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
}

.page-cadastro .form-control input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3c7791;
  padding: 12px 0;
  font-size: 16px;
  color: #3c7791;
}

.page-cadastro .form-control input:focus,
.page-cadastro .form-control input:valid {
  border-color: #3c7791;
  outline: none;
}

.page-cadastro .form-control label span {
  color: #3c7791;
}

.page-cadastro .form-control input:focus+label span,
.page-cadastro .form-control input:valid+label span {
  color: #3c7791;
  transform: translateY(-32px);
}

.page-cadastro .resultado {
  margin-top: 8%
}


/* LOGIN */
.page-login {
  background: radial-gradient(circle at top, #0a0a0a, #000);
  font-family: "Lora", serif;
  color: #3c7791;
  padding-bottom: 80px;
}

/* CARD LOGIN */
.page-login .container-login {
  margin-top: 80px;
  padding: 40px 60px;
  background: #0d0d0d;
  border: 1px solid #65a9c1;
  border-radius: 15px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px #65a9c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 5%;
}

/* TÍTULO */
.page-login .h_login {
  color: #3c7791;
  font-size: 2rem;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

/* INPUTS */
.page-login .form-control {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
}

.page-login .form-control input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3c7791;
  padding: 12px 0;
  font-size: 16px;
  color: #3c7791;
}

.page-login .form-control input:focus,
.page-login .form-control input:valid {
  border-color: #3c7791;
  outline: none;
}

.page-login .form-control label span {
  color: #3c7791;
}

.page-login .form-control input:focus+label span,
.page-login .form-control input:valid+label span {
  color: #3c7791;
  transform: translateY(-32px);
}

.page-login .resultado {
  margin-top: 8%
}